   </div>
   <div class="sidebar">
      <% include right_sidebar.ejs %>
   </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="twbs/js/bootstrap.min.js"></script>
</html>
