<!DOCTYPE html>
<html>
<head>
   <title>Shipt Test</title>
   <link rel="stylesheet" href="twbs/css/bootstrap.min.css"/>
   <link rel="stylesheet" href="stylesheets/styles.css"/>
</head>
<body>
<% include navbar.ejs %>
<div class="std_wrapper">
   <div class="sidebar"></div>
   <div class="center_bar">
