<% include partials/header.ejs %>
<h1 class="heading">
   Shipt Web Developer<br>Test Application
</h>
<p class="main_text">
   Below is a form field that information
   can be inserted about a user. From there
   it will be ran  through the GitHub search
   REST API and will return the top fifty
   (50) usernames that their search algorithm
   thinks you could want. From there you just
   click on the username and it takes you to
   an interface that displays a number of
   items on their GitHub profile. You can then
   click on any of the followers and be taken
   to their respecitve pages. Lastly, you can
   click on the sidebar (Desktop view only)
   and be taken to my personal page. NOTE:
   I do not generally use GitHub, I use Bitbucket,
   so everything there is pretty outdated and
   I ask that it not be used to judge my
   ability as a developer.
</p>
<div class="index_form_wrapper">
   <div class="index_form">
      <form action="/search" method="POST">
      	<input type="text" placeholder="what is your query?" name="query">
         <input class="hidden_form" type="text" value="1" name="pagesRendered">
      	<button>Search</button>
      </form>
   </div>
</div>
<% include partials/footer.ejs %>
