<% include partials/header.ejs %>
<div class="search_item_wrapper">
   <% for(i = 0; i < 50; i++) { %>
      <div class="search_item">
         // <img src="<%= data[i].avatar_url %>"/>
         <h1><%= data[i].login %></h1>
      </div>
   <% } %>
   <div class="replace"></div>
</div>

<% include partials/footer.ejs %>
