/*Setting up the grid and backgrounds*/
body {
   background-image: url('../images/cheap_diagonal_fabric.png');
   color: white;
	font-family: helvetica;
}

.std_wrapper {
   display: grid;
   grid-template-columns: 1fr 5fr 1fr;
	grid-auto-rows: minmax(100px, auto);
}

/*Main stylings for application*/
.heading {
   text-align: center;
   font-size: 64px;
   letter-spacing: 4px;
   font-weight: bold;
}

.center_bar {
   background: rgba(255, 255, 255, 0.5);
   color: rgb(75, 75, 75);
   border-radius: 5px;
}

.main_text {
   font-size: 24px;
   text-align: center;
   padding: 40px;
   letter-spacing: 0px;
}

/*Start of mobile integration*/
@media only screen and (max-width: 425px) {
   .std_wrapper {
      grid-template-columns: 1fr;
   }

   .sidebar {
      display: none;
   }

   .heading {
      text-align: center;
      font-size: 28px;
      letter-spacing: 1px;
   }

   .main_text {
      font-size: 12px;
      text-align: justify;
      padding: 30px;
   }

}
